@import url(https://fontawesome.com/icons/moon?f=classic&s=solid);

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-image: url("./assets/miyazaki.jpg");
  background-size: cover;
  transition: background-image 0.2s linear;
}

body.dark {
  background-image: url("./assets/dark_theme.jpg");
  background-size: cover;
}

body.dark .main_game-rules,
body.dark .main_playground-area {
  color: #ffffff;
}

body.dark .checkbox-label {
  background-color: #2e38a9;
}

body.dark .header__title {
  color: #717dff;
}

body.dark button {
  background-color: #717dff;
  border: 1px solid #717dff;
}

body.dark button:hover {
  background-color: #fdf3f3;
  box-shadow: 0 0 0 2px rgba(46, 56, 169);
}

body.dark li::marker,
body.dark .currentPuzzle {
  color: #717dff;
}

body.dark #stopwatch {
  border: 2px solid #717dff;
}

body.dark .leftClueCell {
  border-right: 1px solid #2e38a9;
}

body.dark .topClueCell {
  border-bottom: 1px solid #2e38a9;
}

body.dark .playgroundCell {
  color: #fdf3f3;
}

body.dark .playgroundCell {
  border: 2px solid #2e38a9;
  background-color: black;
}

body.dark .selectedCell {
  background-color: #fdf3f3;
}

body.dark .borderBottom {
  border-bottom: 5px solid #2e38a9;
}
body.dark .borderTop {
  border-top: 5px solid #2e38a9;
}
body.dark .borderLeft {
  border-left: 5px solid #2e38a9;
}
body.dark .borderRight {
  border-right: 5px solid #2e38a9;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
  padding: 20px;
  margin: 0;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #101010;
  /* background-color: #1fb6b41f; */
  /* background-color: #a69800; */
  width: 60px;
  height: 30px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox-label > img {
  width: 20px;
}

.checkbox-label .ball {
  background-color: #ffffff;
  width: 27px;
  height: 27px;
  position: absolute;
  left: 5px;
  top: 6px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(32px);
}

.header__title {
  margin-left: auto;
  font-size: 72px;
  font-family: "Playfair Display", serif;
  color: #d9c700;
  text-align: center;
}

.main {
  max-width: 1200px;
  padding: 30px 40px 30px 40px;
  margin: auto;
  font-family: "Open Sans", sans-serif;
}

.main_game-rules {
  font-weight: bold;
  font-size: 26px;
  color: black;
  padding: 10px 10px 10px 0;
}

.main_game-rules p {
  white-space: pre-line;
  font-size: 20px;
  font-weight: normal;
  padding: 10px 10px 10px 0;
}

.main_playground-area {
  color: black;
  padding: 10px 0;
}

.main_flex-container {
  display: flex;
  width: 100%;
  gap: 40px;
  padding: 10px;
}

.main_flex-container ul {
  font-size: 24px;
}

.main_flex-container .flex-box {
  width: 30%;
}

li {
  list-style-type: "✓";
  list-style-position: inside;
  font-size: 20px;
  padding: 5px 0;
  cursor: pointer;
}

li::marker {
  color: #a69800;
}

table {
  display: flex;
  align-self: center;
  border-collapse: collapse;
  margin: 0 50px;
}
td {
  width: 40px;
  height: 40px;
  font-size: 150%;
}

tr {
  text-align: center;
}

.borderLeft {
  border-left: 5px solid black;
}
.borderRight {
  border-right: 5px solid black;
}
.borderTop {
  border-top: 5px solid black;
}
.borderBottom {
  border-bottom: 5px solid black;
}

.playgroundCell {
  border: 2px solid black;
  background-color: #fdf3f3;
  cursor: pointer;
  color: red;
  font-weight: 600;
  font-size: 35px;
  text-align: center;
}

.selectedCell {
  background-color: rgb(8, 8, 144);
}

.leftClueCell {
  border-right: 1px solid black;
}

.topClueCell {
  border-bottom: 1px solid black;
}

.main_pop-up {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 41, 41, 0.6);
}

.hidden {
  visibility: hidden;
}

.main_pop-up__content {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: #ffffff;
  background-position: bottom right;
  font-weight: bold;
  font-size: 26px;
  color: black;
  text-align: center;
  padding: 10px;
}

.main_pop-up__content img {
  width: 200px;
  height: 200px;
}

.main_pop-up__note {
  font-weight: bold;
  font-size: 26px;
  color: black;
  text-align: center;
  padding: 10px;
}

.currentPuzzle {
  color: #a69800;
}

/*RESET BUTTON*/
button {
  margin: 5px;
  justify-content: center;
  border-radius: 50px;
  background-color: #d9c700;
  border: 1px solid #d9c700;
  cursor: pointer;
}

button:hover {
  background-color: #fdf3f3;
  box-shadow: 0 0 0 2px rgba(210, 192, 3, 0.5);
}

button div {
  margin: 10px;
  width: 165px;
}

.sidebar {
  /* border-radius: 30px;
  background-color: #a69800; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidebar p {
  margin-top: 5px;
  font-size: 24px;
  align-self: center;
}

.main_playground-box {
  justify-content: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.timer {
  padding-left: 50px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

#stopwatch {
  padding: 10px;
  border: 2px solid #d9c700;
  border-radius: 10px;
}
